<div id="kontener">
    <div id="postAdd">
        <input
            type="text"
            id="tyt"
            required
            [(ngModel)]="tutorial.title"
            name="title"
            placeholder="title"
            maxlength="10"
                
        />
        <input
            type="text"
            id="opis"
            required
            [(ngModel)]="tutorial.description"
            name="description"
            placeholder="description"
            maxlength="20"
        />
        <div (click)="addEdit()" id="btt" >Add</div>
        <div (click)="delAll()" id="delButton">Delete All</div>


    </div>
    <div *ngFor="let x of posts" class="postView" id="{{x._id}}" (click)="zaznacz(x._id)">
        <div id="title">{{x.title}}</div>
        <div id="description">{{x.description}}</div>
        <div (click)="usun(x._id)" id="bt">Delete</div>
    </div>

</div>
